@font-face {
  font-family: 'roboto_slabbold';
  src: asset-url('custome-font/robotoslab-bold.eot');
  src: asset-url('custome-font/robotoslab-bold.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/robotoslab-bold.woff2') format('woff2'),
       asset-url('custome-font/robotoslab-bold.woff') format('woff'),
       asset-url('custome-font/robotoslab-bold.ttf') format('truetype'),
       asset-url('custome-font/robotoslab-bold.svg#roboto_slabbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_slabregular';
  src: asset-url('custome-font/robotoslab-regular.eot');
  src: asset-url('custome-font/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/robotoslab-regular.woff2') format('woff2'),
       asset-url('custome-font/robotoslab-regular.woff') format('woff'),
       asset-url('custome-font/robotoslab-regular.ttf') format('truetype'),
       asset-url('custome-font/robotoslab-regular.svg#roboto_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_problack';
  src: asset-url('custome-font/sourcesanspro-black.eot');
  src: asset-url('custome-font/sourcesanspro-black.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/sourcesanspro-black.woff2') format('woff2'),
       asset-url('custome-font/sourcesanspro-black.woff') format('woff'),
       asset-url('custome-font/sourcesanspro-black.ttf') format('truetype'),
       asset-url('custome-font/sourcesanspro-black.svg#source_sans_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_probold';
  src: asset-url('custome-font/sourcesanspro-bold.eot');
  src: asset-url('custome-font/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/sourcesanspro-bold.woff2') format('woff2'),
       asset-url('custome-font/sourcesanspro-bold.woff') format('woff'),
       asset-url('custome-font/sourcesanspro-bold.ttf') format('truetype'),
       asset-url('custome-font/sourcesanspro-bold.svg#source_sans_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prolight';
  src: asset-url('custome-font/sourcesanspro-light.eot');
  src: asset-url('custome-font/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/sourcesanspro-light.woff2') format('woff2'),
       asset-url('custome-font/sourcesanspro-light.woff') format('woff'),
       asset-url('custome-font/sourcesanspro-light.ttf') format('truetype'),
       asset-url('custome-font/sourcesanspro-light.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_proregular';
  src: asset-url('custome-font/sourcesanspro-regular.eot');
  src: asset-url('custome-font/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/sourcesanspro-regular.woff2') format('woff2'),
       asset-url('custome-font/sourcesanspro-regular.woff') format('woff'),
       asset-url('custome-font/sourcesanspro-regular.ttf') format('truetype'),
       asset-url('custome-font/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: asset-url('custome-font/sourcesanspro-semibold.eot');
  src: asset-url('custome-font/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
       asset-url('custome-font/sourcesanspro-semibold.woff2') format('woff2'),
       asset-url('custome-font/sourcesanspro-semibold.woff') format('woff'),
       asset-url('custome-font/sourcesanspro-semibold.ttf') format('truetype'),
       asset-url('custome-font/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
