<div class="row">
  <div class="panel">
    <div class="col-lg-12 text-center">
      <h1>Triple C Application</h1>
      <p class="lead">HTML Template and styling comes here...</p>
    </div>
  </div>
</div>
