.breadcrumb {
  background-color: transparent;
  color: #333333;
  font-family: 'source_sans_probold';
  padding: 15px 0px 30px 0;
}
.breadcrumb > li > a {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
}
.breadcrumb > li.active {
  font-family: 'source_sans_proregular';
}
.breadcrumb > li + li:before {
  content:"\00bb";
  color: #333333;
  font-family: 'source_sans_probold';
  font-size: 1em;
}
