.btn-primary,
.btn-primary:hover {
  background-color: transparent;
  border-radius: 25px;
  border-radius: 25px;
  border: solid 2px #d248af;
  color: #d248af;
  font-family: 'source_sans_probold';
  font-size: 1.1em;
  text-transform: uppercase;
}
