/* body background */
  body {
    background: image-url('background/main-bg');
    background-repeat: repeat;
  }
  .pos-relative {
    position: relative;
  }
/* body background end */

h1, h2 {
  color: #333333;
  font-family: 'roboto_slabbold';
  font-size: 3em;
  line-height: .9;
  position: relative;
  z-index: 222;
}
.sub-heading {
  font-family: 'source_sans_proregular';
  font-size: 1.1em;
  line-height:.6;
  padding-bottom: 40px;
  position: relative;
  z-index: 222;
}
h2 {
  font-size: 2em;
}

/* header */
  .collapse.navbar-collapse {
    margin-top: 20px;
  }
  .navbar-brand img{
    width: 60px;
    height: auto;
  }
  .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    font-family: 'roboto_slabbold';
    font-size: 1em;
  }
  .navbar-inverse .navbar-nav > li > a,
  .btn-nav-ogin-signup a:hover {
    color: #333333;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
  .btn-nav-ogin-signup,
  .btn-nav-ogin-signup a {
    color: #d248af;
  }
  .navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
  }
  .nav-icon-search{
    width: 19px;
    margin-top: -2px;
    margin-right: 10px;
  }
  .navbar-inverse .navbar-nav > li > a.nav-search {
    color: #888888;
    font-family: 'roboto_slabregular';
  }
  .navbar-right .btn-primary a,
  .navbar-right .btn-primary span {
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
    color: #d248af;
  }
  .navbar-right .btn-primary .sign-in {
    margin-left: 10px;
  }
  .navbar-right .btn-primary .sign-up {
    margin-right: 10px;
  }
  .navbar-right .btn-primary span {
    padding: 0 5px;
  }
/* header end */

/* Common padding */
  .padding-bottom-120 {
    padding-bottom: 120px;
  }
/* Common padding end */

/* btn common */
.btn-primary,
.btn-primary:hover {
  background-color: transparent;
  border-radius: 25px;
  border-radius: 25px;
  border: solid 2px #d248af;
  color: #d248af;
  font-family: 'source_sans_probold';
  font-size: 1.1em;
  text-transform: uppercase;
}
/* btn common end */

/* breadcrumb */
  .breadcrumb {
    background-color: transparent;
    color: #333333;
    font-family: 'source_sans_probold';
    padding: 15px 0px 30px 0;
  }
  .breadcrumb > li > a {
    color: #333333;
    text-decoration: none;
    font-size: 1em;
  }
  .breadcrumb > li.active {
    font-family: 'source_sans_proregular';
  }
  .breadcrumb > li + li:before {
    content:"\00bb";
    color: #333333;
    font-family: 'source_sans_probold';
    font-size: 1em;
  }
/* breadcrumb end */

.border-top-dashed {
  border-top: dashed 2px #000000;
}
.border-top-dotted {
  border-top: dotted 1px #000000;
}

/* Add in Common Padding */
  .padding-top-30 {
    padding-top: 30px;
  }
  .padding-top-50 {
    padding-top: 50px;
  }
  .padding-bottom-30 {
    padding-bottom: 30px;
  }
  .padding-left-0 {
    padding-left: 0px;
  }
  .padding-right-0 {
    padding-right: 0px;
  }
/* end */

/* common width and height */
  .width-full {
    width: 100%;
  }
/* common width and height end */

/* classroom-right-col */
  .classroom-right-col {
    color: #888888;
    font-family: 'source_sans_probold';
    font-size: 1em;
  }
  .classroom-right-col .heading {
    font-family: 'roboto_slabregular';
    line-height: 1.5;
  }
  .scrap-links {
    border-bottom: solid 1px #d248af;
    color: #d248af;
    font-family: 'source_sans_probold';
    font-size: 1em;
    line-height: 1.5;
    padding-bottom: 1px;
    text-decoration: none;
  }
  .scrap-links:hover {
    text-decoration: none;
    color: #d248af;
  }
/* classroom-right-col end */
