@import 'breadcrumbs';
@import 'padding';
@import 'header';
@import 'btn';
@import 'swatch';

/* body background */
  body {
    background: image-url('background/main-bg');
    background-repeat: repeat;
  }
  .pos-relative {
    position: relative;
  }
/* body background end */

h1, h2 {
  color: #333333;
  font-family: 'roboto_slabbold';
  font-size: 3em;
  line-height: .9;
  position: relative;
  z-index: 222;
}
.sub-heading {
  font-family: 'source_sans_proregular';
  font-size: 1.1em;
  line-height:.6;
  padding-bottom: 40px;
  position: relative;
  z-index: 222;
}
h2 {
  font-size: 2em;
}

.border-top-dashed {
  border-top: dashed 2px #000000;
}
.border-top-dotted {
  border-top: dotted 1px #000000;
}

/* common width and height */
.width-full {
  width: 100%;
}
/* common width and height end */

/* classroom-right-col */
.classroom-right-col {
  color: #888888;
  font-family: 'source_sans_probold';
  font-size: 1em;
}
.classroom-right-col .heading {
  font-family: 'roboto_slabregular';
  line-height: 1.5;
}
.scrap-links {
  border-bottom: solid 1px #d248af;
  color: #d248af;
  font-family: 'source_sans_probold';
  font-size: 1em;
  line-height: 1.5;
  padding-bottom: 1px;
  text-decoration: none;
}
.scrap-links:hover {
  text-decoration: none;
  color: #d248af;
}
/* classroom-right-col end */

.border-radius-50 {
  border-radius: 50%
}
