@import 'variables';

.navbar {
    background-color: transparent;
    border-color: transparent;
    font-family: $slabBold;
    font-size: 1em;

  .navbar-nav > li.active > a {
    background-color: transparent;
    color: $color_mine_shaft_approx;
  }
  .navbar-nav > li.active > a:hover {
    background-color: transparent;
    color: $color_fuchsia_pink_approx;
  }
  .navbar-nav > li > a {
    color: $color_mine_shaft_approx;
    padding: 10px;
    &:after {
      content: '|';
      display: inline-block;
      line-height: 20px;
      padding: 10px 0 0px 20px;
    }
    &:hover {
      color: $color_fuchsia_pink_approx;
    }
    &:focus {
      color: $color_fuchsia_pink_approx;
    }
  }
}
.btn-nav-ogin-signup {
  color: $color_fuchsia_pink_approx;
  a {
    color: $color_fuchsia_pink_approx;
    &:hover {
      color: $color_mine_shaft_approx;
    }
  }
}
.byline {
  position: absolute;
  top: 150px;
  left: 30%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $color_valencia_approx;
  }
}
@import 'search';
.collapse.navbar-collapse {
  margin-top: 20px;
}
.navbar-brand {
  height: auto;
}
.navbar-brand img {
  width: 60px;
  height: auto;
}
.navbar-nav > li > span {
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
.navbar-right .btn-primary {
  a {

  }
  span {
    @extend %extend_navbar;
    padding: 0 5px;
  }
  .sign-in {
    margin-left: 10px;
  }
  .sign-up {
    margin-right: 10px;
  }
}

.nav-btn {
  border-radius: 40%;

  display: inline-block;
  .sign-in,
  .sign-up {
    border: solid 2px $color_fuchsia_pink_approx;
    color: $color_fuchsia_pink_approx;
    display: inline-block;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: $color_fuchsia_pink_approx;
      color: $white;
    }
  }
  .sign-in {
    border-radius: 25px 0 0 25px;
    border-right: none;
    margin-right: -2px;
    &:after {
      border-color: $color_fuchsia_pink_approx;
      position: absolute;
    }
  }
  .sign-up {
    border-left: none;
    border-radius: 0 25px 25px 0;
    margin-left: -2px;
    &:after {
      border-color: $color_fuchsia_pink_approx;
      position: absolute;
    }
  }
}

.navbar .navbar-nav > li > a.dropdown-toggle {
  &:after {
    content: ' ';
    padding: 0;
  }
  &:focus {
    background-color: transparent;
    color: #d248af;
  }
  .img-responsive {
    display: inline-block;
    margin-right: 10px;
  }
}
.dropdown .nav a {
  text-transform: uppercase;
}
#search {
  float: none;
  display: inline-block;
}
@media only screen and (max-width : 480px) {
  #search {
    left: 0;
    width: 100%;
    #label {
      width: 100%;
    }
    #input {
      left: 0;
      width: 100%;
    }
    #input input {
      border-radius: 4px;
      left: 10px;
      width: 94%;
    }
    #label label {
      float: right;
      width: 40px;
    }
    .nav-icon-search {
      margin-left: 0;
    }
  }
  .navbar-collapse {
    border-bottom: solid 1px #e7e7e7;
    padding: 0;
  }
  .collapse.navbar-collapse {
    margin-top: 0;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li {
    display: block;
  }
  .navbar .navbar-nav > li > a:after {
    content: ' ';
  }
  .navbar-right {
    .nav-btn {
      margin: 0 auto;
      padding-bottom: 5px;
      text-align: center;
      width: 100%;
    }
    .nav-btn .sign-in,
    .nav-btn .sign-up {
      border: solid 2px #d248af;
      display: inline-block;
      width: 45%;
    }
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.dropdown-menu > li > a {
  font-family: $slabRegular;
  padding: 8px 20px;
}
.dropdown-menu {
  min-width: 140px;
  right: -12px;

  li a{
    &:hover,
    &:focus {
      background-color: #d1e5f6;
    }
  }
}
.dropdown-menu {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .5);
  border-radius: 6px;
}