@import 'variables';

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  font-family: $slabBold;
  font-size: 1em;
  .navbar-nav > li > a {
    color: $color_mine_shaft_approx;
    &:hover {
      color: $color_fuchsia_pink_approx;
    }
    &:focus {
      color: $color_fuchsia_pink_approx;
    }
  }
}
.btn-nav-ogin-signup {
  color: $color_fuchsia_pink_approx;
  a {
    color: $color_fuchsia_pink_approx;
    &:hover {
      color: $color_mine_shaft_approx;
    }
  }
}
.byline {
  position: absolute;
  top: 150px;
  left: 30%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $color_valencia_approx;
  }
}
@import 'search';
.collapse.navbar-collapse {
  margin-top: 20px;
}
.navbar-brand img {
  width: 60px;
  height: auto;
}
.navbar-nav > li > span {
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}
.navbar-right .btn-primary {
  a {
    @extend %extend_navbar;
  }
  span {
    @extend %extend_navbar;
    padding: 0 5px;
  }
  .sign-in {
    margin-left: 10px;
  }
  .sign-up {
    margin-right: 10px;
  }
}