.class-name h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em;
}
.class-name p {
  font-family: 'source_sans_proregular';
  font-size: 1.1em;
  margin: 0px;
  padding-bottom: 20px;
}

.class-name .edit-class-profile {
  color: #d248af;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 1px #d248af;
}

.project-finish-by {
  font-family: 'source_sans_probold';
  padding-bottom: 20px;
}
.project-finish-by a{
  text-decoration: none;
  color: #d248af;
  border-bottom: solid 1px #d248af;
}
.team-activity {
  color: #888888;
  font-size: 0.9em;
}


/* Project Finch Enteries */
  .latest-enteries .heading{
    background-color: #333333;
    color: #ffffff;
    font-family: 'roboto_slabregular';
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }
  .latest-enteries .entry-content{
    border: solid 1px #888888;
  }
  .previous-enteries .heading{
    background-color: #d248af;
    color: #ffffff;
    font-family: 'roboto_slabregular';
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
  }
  .previous-enteries .entry-content{
    border: solid 1px #d248af;
  }
  .previous-enteries .btn-default,
  .btn-default:active:hover,
  .btn-default.active:hover,
  .open > .dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open > .dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open > .dropdown-toggle.btn-default.focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #ffffff;
    font-size: 0.7em;
    height: 40px;
    line-height: 30px;
    text-align: left;
    text-align: right;
    width: 100%;
  }
  .previous-enteries .btn .caret {
    margin-left: 10px;
  }
  .previous-enteries .dropdown-menu .heading {
    background-color: transparent;
    color: #333333;
    font-family: 'source_sans_probold';
    font-size: 1em;
    height: auto;
    line-height: 1.5;
  }
  .previous-enteries .dropdown-menu .date {
    color: #333333;
    font-family: 'source_sans_proregular';
    font-size: 1em;
  }
/* Project Finch Enteries */


/* right-col-follow-section */
  .right-col-follow-section {
    color: #333333;
  }
  .right-col-follow-section h3 {
    font-family: 'roboto_slabregular';
    font-size: 1.2em;
    margin-top: 0px;
    margin: 0px;
  }
  .right-col-follow-section ul {
    padding: 0px;
    margin: 0px;
  }
  .right-col-follow-section li {
    padding: 25px 0;
    list-style: none;
    display: block;
    border-bottom: dotted 1px #000000;
  }
  .right-col-follow-section .date-entry {
    color: #888888;
    font-family: 'source_sans_proregular';
    font-size: 1em;
  }
/* right-col-follow-section end */


/* Code Enteries */
  .content_highlight {
    background-color: #ffffff;
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
  }

  .content_highlight .line-number {
    border-right: solid 1px #cccccc;
    color: #cccccc;
    display: inline-block;
    font-size: 1em;
    left: 0px;
    line-height: 36px;
    min-height: 300px;
    padding: 0 15px;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 10%;
  }

  .content_highlight .line-number > span{
    display: block;
    text-align: right;
  }

  .content_highlight code {
    display: inline-block;
    width: 89%;
    margin-left: 10%;
    text-align: left;
    padding: 0 2%;
    line-height: 36px;
  }

/* Code Enteries */

.content_highlight-show pre {
  font:normal normal 16px/18px "Courier New",Courier,Monospace;
  color: black;
  display:block;
}

.content_highlight-show pre,
.content_highlight-show code {
  background-color: #ffffff;
  padding: 0px;
  margin-left: 0px;
  width: 100%;
  border: 0px;
}
.content_highlight-show code {
  margin-left: 12%;
  box-sizing: border-box;
  width: 88%;
}

.content_highlight-show span {
  display: block;
  line-height: 38px;
}
