.swatch-pink{ background-color: #d348af; }
.swatch-green{ background-color: #00f59d; }
.swatch-blue{ background-color: #267bd7; }
.swatch-dark-blue{ background-color: #1e2391; }
.swatch-violet{ background-color: #8e55bc; }
.swatch-orange{ background-color: #ef6b50; }
.swatch-yellow{ background-color: #ffd549; }
.swatch-dark-green{ background-color: #26683e; }
.swatch-black{ background-color: #243542; }
