@import 'variables';

.swatch-pink {
  background-color: $color_fuchsia_pink_approx;
}
.swatch-green {
  background-color: $color_spring_green_approx;
}
.swatch-blue {
  background-color: $color_mariner_approx;
}
.swatch-dark-blue {
  background-color: $color_jacksons_purple_approx;
}
.swatch-violet {
  background-color: $color_fuchsia_blue_approx;
}
.swatch-orange {
  background-color: $color_burnt_sienna_approx;
}
.swatch-yellow {
  background-color: $color_bright_sun_approx;
}
.swatch-dark-green {
  background-color: $color_green_pea_approx;
}
.swatch-black {
  background-color: $color_outer_space_approx;
}